*:not(.v-icon), body:not(.v-icon), html:not(.v-icon){
    font-family: Barlow !important;
    text-transform: none !important
}
.v-application.v-application--is-ltr{
    background:#f4f6f9 !important
}