.v-application.v-application--is-ltr{
    background:#f4f6f9 !important
}
.v-btn--outlined .v-btn__content {
    top: -1px;
}
button {
    outline: none;
}
button:not(.v-btn--icon):hover{
    background:#ed1c24;
    color:white !important
}

.v-icon{
    transition: 0s !important;
}
