.v-application.v-application--is-ltr{
    background:#f4f6f9 !important
}
.v-btn--outlined .v-btn__content {
    top: -1px;
}
button, a {
    outline: none;
}
button:not(.v-btn--icon, .v-icon):hover{
    background:#ed1c24;
    color:white !important
}

.v-icon{
    transition: 0s !important;
}

.bordered {
    border:1px solid #000;
}
.rounded-10{
    border-radius: 10px !important;
}

.v-select.customized .v-input__control{
    max-height:32px !important
}
.v-select.customized .v-input__append-inner{
    margin-top:5px !important
}

thead tr th{
    font-weight: 100;
    font-size: 1.1rem !important;
}

@media print {
    body { 
      overflow: auto;
      height: auto; 
    }
    html body div#__layout {
        visibility:hidden;
    }
    @page {
        size:A3 landscape !important;
    }
    .customDataTable .v-data-table__wrapper{
        -webkit-print-color-adjust: exact !important;   /* Chrome, Safari */
        color-adjust: exact !important;
        visibility:visible !important;
        overflow: auto !important;
        min-height: 200% !important;
    }
    .customDataTable .v-data-table__wrapper {
        background-color: white;
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        margin: 0;
        padding: 15px;
        font-size: 14px;
        line-height: 22px;
        z-index:999
    }
  }